<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pkpapper.incometaxbd">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tax_calculate_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tax_calculate_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.INCOMETAXBD">
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayActivity"
            android:exported="false" />
        <activity
            android:name=".NewTextActivity"
            android:exported="false"/>
        <activity
            android:name=".GuidelineActivity"
            android:exported="false" />
        <activity
            android:name=".TaxCalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".HisabCodeActivity"
            android:exported="false" />
        <activity
            android:name=".TaxReturnGuidelineActivity"
            android:exported="false"/>
        <activity
            android:name=".SpotAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".TaxesZoneDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".TaxesZoneActivity"
            android:exported="false" />
        <activity
            android:name=".E_TinActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"/>
    </application>

</manifest>